*,
html {
    padding: 0;
    margin: 0;
    outline: none;
}

/* Thiết lập cơ bản */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    background: #f0f0f0;

    @media print {
        padding: 0;
    }

    @page {
        size: A4;
        margin: 0;
    }
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    width: 1000px;

    @media print {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Đảm bảo không bị xuống dòng */
.no-wrap {
    white-space: nowrap;
}

/* Viền tùy chỉnh (nếu cần) */
.bordered {
    border: 2px solid black;
}

//Viền dưới
.border-bot {
    border-bottom: 1px solid #ccc;
}

// Căn giữa nội dung
.tex-center {
    text-align: center;
}

button {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
}

.tex-right {
    text-align: right;
}

/* Container chính */
.container {
    display: flex;
    flex-wrap: wrap;

    .article-commodity-detail {
        display: block;
        width: 100%;
    }

    .article-payment-delivery,
    .article-packing-marking {
        width: 100%;

        .delivery-info {
            white-space: nowrap;
        }

        input {
            width: 30%;
        }
    }

    .article-general-condition {
        span {
            display: block;
        }
    }
}

/* Cột trong container */
.column {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

/* Nhãn */
.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Ô nhập liệu */
.input-field {
    width: 100%;
    max-width: 100% !important;
    border: none;
    background: transparent;
    font-size: 14px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;

    &.border-bot {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0px;

        @media print {
            border-bottom: none;
        }
    }
}

textarea.input-field {
    width: 100% !important;
    height: 22px;
    line-height: 1em;
    resize: none;
    overflow: hidden;
    padding: 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tiêu đề */
.header {

    /* Định dạng tiêu đề */
    .title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;

        span {
            display: block;
        }
    }

    /* Tiêu đề có img*/
    .title .header-img {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 9px solid #52D1D1;

        img {
            width: 100px;
            /* Chỉnh kích thước logo */
            margin-right: 20px;
        }
    }


    /* Định dạng tên công ty trong tiêu đề */
    .title .header-company {
        font-weight: normal;
    }

    .title .header-main {
        font-weight: bold;
        font-size: 20px;

        &.text-decoration {
            text-decoration: underline;
        }
    }

    .title .header-content {
        font-weight: normal;
        font-size: 14px;
        padding-bottom: 10px;
    }

    /* Hàng chứa thông tin */
    .info-box-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .info-item {
            &.between {
                width: 20%;
                gap: 5px;
            }

            span {
                white-space: nowrap;
            }
        }

        &.spacing {
            margin-bottom: 15px;
        }

        &.right {
            width: 30%;
            margin-left: auto;
        }
    }

    .no-input {
        justify-content: center;
    }

    .info-box-column {
        display: flex;
        justify-content: space-between;
        /* Đẩy hai phần tử về hai đầu */
        align-items: end;
        /* căn xuống dưới */
        width: 100%;
        flex-wrap: wrap;
        /* Đảm bảo không bị tràn màn hình */

        &.spacing {
            margin-bottom: 15px;
        }
    }

    /* Phần tử bên trái */
    .left-content {
        display: flex;
        width: 30px;
        align-items: end;
        gap: 5px;

        span {
            display: block;
        }

        .input-field {
            width: auto;
        }
    }

    /* Phần tử bên phải */
    .right-content {
        flex-shrink: 0;
        /* Không co lại */
        text-align: right;
        white-space: nowrap;
        /* Đảm bảo không bị xuống dòng */
    }

    /* Hàng chứa thông tin linh hoạt */
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    /* Hàng chứa thông tin - hàng ngang bên trái */
    .column {
        display: flex;
        flex-direction: row;
        /* Chuyển thành dọc */
        align-items: flex-start;
        /* Căn trái */
        margin-bottom: 15px;
        margin-left: auto;
    }

    .header-info-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .header-left {
            width: 60%;
        }

        .header-right {
            width: 30%;
            text-align: right;
        }

        .header-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .header-label {
            white-space: nowrap;
            margin-right: 5px;
        }
    }

    .seller-buyer-info {
        width: 90%;

        .buyer,
        .consignee {
            white-space: nowrap;
            padding: 0;
            width: 70%;
        }
    }
}

/* Bảng */
table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid black;

        span {
            display: block;
        }

        label {
            span {
                display: inline;
            }
        }

        .btn-sign {
            @media print {
                display: none;
            }
        }
    }

    .column-head {
        background-color: #f2f2f2;
        font-weight: bold;
        white-space: nowrap;
    }

    .column-head-landscape {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .custom-list {
        list-style-position: inside;
        /* Đảm bảo dấu số/lớp nằm trong khung */
        padding-left: 2em;
        /* Thụt vào một khoảng */
    }

    .date-time-wrapper {
        text-align: left;
        vertical-align: middle;

        .info-box-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            /* Khoảng cách giữa các phần tử */
        }

        .info-item {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
        }
    }

}

.custom-table {
    margin-top: 15px;
    margin-left: auto;
    width: auto;
    border-collapse: collapse;
}

.custom-table td {
    border: 1px solid black;
    width: 50%;
    /* Chia đôi 111px */
    height: 40px;
    text-align: left;
    vertical-align: top;
    padding: 2px;
}

.remark-text {
    span {
        display: block;
    }
}

.signature-container { 
    margin-left: 50%;
    text-align: center;
  }
  
// Phần chữ ký, căn đều hai bên
.signature-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

// Ô chữ ký, chia đều khoảng cách
.signature {
    flex: 1;
    padding: 10px;
    margin-bottom: 15px;

    span {
        display: block;
    }

    button {
        margin-top: 15px;
        padding: 10px;
        outline: none;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 10px;

        @media print {
            display: none;
        }
    }
}

.stamp-container {
    width: 205px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    white-space: nowrap;

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .review-section {
        text-align: left;
        margin-top: 10px;
        font-size: 14px;

        .input-field {
            width: 10%;
        }
    }
}

.td-container {
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}

/* Ẩn viền theo từng hướng */
.border-none {
    border: none;
}

.border-left-none {
    border-left: none;
}

.border-right-none {
    border-right: none;
}

.border-top-none {
    border-top: none;
}

.border-bottom-none {
    border-bottom: none;
}

.border-x-none {
    border-left: none;
    border-right: none;
}

.border-y-none {
    border-top: none;
    border-bottom: none;
}

.border-top-left-none {
    border-top: none;
    border-left: none;
}

.border-top-right-none {
    border-top: none;
    border-right: none;
}

.border-bottom-left-none {
    border-bottom: none;
    border-left: none;
}

.border-bottom-right-none {
    border-bottom: none;
    border-right: none;
}

.border-top-left-right-none {
    border-top: none;
    border-left: none;
    border-right: none;
}

.border-bottom-left-right-none {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.border-bottom-top-right-none {
    border-bottom: none;
    border-top: none;
    border-right: none;
}

.border-bottom-top-left-none {
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.border {
    border: 0;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}