*,
html {
    padding: 0;
    margin: 0;
    outline: none;
}

/* Thiết lập cơ bản */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    background: #f0f0f0;

    @media print {
        padding: 0;
    }

    @page {
        size: A4;
        margin: 0;
    }
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    display: block;
    width: 1000px;

    @media print {
        width: auto;
    }
}

/* Viền tùy chỉnh (nếu cần) */
.bordered {
    border: 2px solid black;
}

//Viền dưới
.border-bot {
    border-bottom: 1px solid #ccc;
}

// Căn giữa nội dung
.tex-center {
    text-align: center;

    button {
        padding: 10px;
        outline: none;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 10px;
    }
}

/* Container chính */
.container {
    display: flex;
}

/* Cột trong container */
.column {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

/* Nhãn */
.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Ô nhập liệu */
.input-field {
    width: 100%;
    max-width: 100% !important;
    border: none;
    background: transparent;
    font-size: 14px;
    padding: 5px;

    &.border-bot {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0px;

        @media print {
            border-bottom: none;
        }
    }
}

textarea.input-field {
    width: 100% !important;
    height: 22px;
    line-height: 1em;
    resize: none;
    overflow: hidden;
    padding: 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tiêu đề */
.header {

    /* Định dạng tiêu đề */
    .title {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;

        span {
            display: block;
        }
    }

    /* Định dạng tên công ty trong tiêu đề */
    .title .header-company {
        font-weight: normal;
    }

    /* Hàng chứa thông tin */
    .info-box-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .info-item {
            &.between {
                width: 20%;
                gap: 5px;
            }

            span {
                white-space: nowrap;
            }
        }

        &.spacing {
            margin-bottom: 15px;
        }

        &.right {
            width: 30%;
            margin-left: auto;
        }
    }

    .no-input {
        justify-content: center;
    }

    .info-box-column {
        display: flex;
        justify-content: space-between;
        /* Đẩy hai phần tử về hai đầu */
        align-items: end;
        /* căn xuống dưới */
        width: 100%;
        flex-wrap: wrap;
        /* Đảm bảo không bị tràn màn hình */

        &.spacing {
            margin-bottom: 15px;
        }
    }

    /* Phần tử bên trái */
    .left-content {
        display: flex;
        width: 30px;
        align-items: end;
        gap: 5px;

        span {
            display: block;
        }

        .input-field {
            width: auto;
        }
    }

    /* Phần tử bên phải */
    .right-content {
        flex-shrink: 0;
        /* Không co lại */
        text-align: right;
        white-space: nowrap;
        /* Đảm bảo không bị xuống dòng */
    }

    /* Hàng chứa thông tin linh hoạt */
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    /* Hàng chứa thông tin - hàng ngang bên trái */
    .column {
        display: flex;
        flex-direction: row;
        /* Chuyển thành dọc */
        align-items: flex-start;
        /* Căn trái */
        margin-bottom: 15px;
        margin-left: auto;
    }
}


/* Bảng */
table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid black;

        span {
            display: block;
        }

        label {
            span {
                display: inline;
            }
        }
    }

    .column-head {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .custom-list {
        list-style-position: inside;
        /* Đảm bảo dấu số/lớp nằm trong khung */
        padding-left: 2em;
        /* Thụt vào một khoảng */
    }

    .date-time-wrapper {
        text-align: left;
        vertical-align: middle;

        .info-box-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            /* Khoảng cách giữa các phần tử */
        }

        .info-item {
            display: flex;
            flex-direction: column;
            /* Xếp chữ "Ngày tháng" & "Thời gian" xuống dòng */
            white-space: nowrap;
        }
    }

}

// Phần chữ ký, căn đều hai bên
.signature-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

// Ô chữ ký, chia đều khoảng cách
.signature {
    flex: 1;
    padding: 10px;
    margin-bottom: 15px;

    span {
        display: block;
    }

    button {
        padding: 10px;
        outline: none;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 10px;
    }
}

.td-container {
    display: flex;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
}